.information-lookup-box-login {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-30%, -50%);
}
.information-lookup-box-secretary {
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.information-lookup-box {
  border-radius: 5px 5px 5px 5px;
}
.Log-In {
  background-color: #1976d2;
  border-radius: 5px 5px 5px 5px;
}
.btn-login-email span{
  color: white;
}
.icon-email {
  color: white;
}
.btn {
  margin: 10px;
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-left: 40px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #1976d2;
  cursor: pointer;
  width: 220px;
  font-size: 18px;
}
.btn:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn:hover {
  background-color: #292bb6;
}
.well span{
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: #1976d2;
}
.Logged {
  width: 300px;
  height: 70x;
}
.email span{
  padding: 10px;
  color:#1976d2;
  text-align: center;
  margin-left: 2px;
}
.Login-Secretary {
  text-align: center;
  color: white;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #1976d2;
  cursor: pointer;
  width: 150px;
  font-size: 18px;
}
.Login-Secretary:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.Login-Secretary:hover {
  background-color: #292bb6;
}
.Title{
  color: black;
  font-size: 20px;
  font-style: unset;
}